<!doctype html>
<html lang="{{.Site.LanguageCode}}">

<head>
  <meta charset="UTF-8">
  <meta name=description content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{- with .Site.Params.themeColor }}
  <meta name="theme-color" content="{{.}}">
  <meta name="msapplication-TileColor" content="{{.}}">
  {{- end }}
  {{- partial "favicons.html" }}
  <title>{{.Title}}</title>
  {{ $style := resources.Get "scss/style.scss" | resources.ExecuteAsTemplate "css/style.css" . | toCSS | minify | fingerprint -}}
  <link rel="stylesheet" href="{{ $style.Permalink }}" {{ printf "integrity=%q" $style.Data.Integrity | safeHTMLAttr }}>
</head>

<body>
  <div class="container">
    <header>
      <nav id="menu">
        <ul id="menu-closed">
          {{- range .Site.Menus.main }}
          <li><a href="{{ .URL | absLangURL }}">{{ .Name }}</a></li>
          {{- end }}
          <li><a href="#menu-closed">&#215; Menu</a></li>
          <li><a href="#menu">&#9776; Menu</a></li>
        </ul>
      </nav>
    </header>
    <main>{{ block "main" . -}}{{ end -}}</main>
    <footer>
      {{ block "title" . -}}{{ end -}}
      {{ partialCached "footer.html" . }}
    </footer>
  </div>
</body>
</html>
